.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.App::before {
  content: "";
  background-image: url("./image/bgc.jpg");
  background-size: 100vw 100vh;
  opacity: 0.75;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

header {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logoImg {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.imgBox {
  flex: 2;
  display: flex;
  justify-content: right;
}

.imgBox img {
  height: 100%;
  width: 50%;
}

.headerWords {
  display: flex;
  flex-direction: column;
  flex: 2;
  justify-content: center;
}
.empty {
  flex: 1;
}

header h1 {
  flex: 1;
  margin: 0;
  margin-left: 3vw;
  font-size: calc(3vw + 15px);
  color: white;
  text-shadow: 5px 5px #252222;
  font-weight: bold;
  font-family: "M PLUS Code Latin", sans-serif;
}

.searchBar {
  flex: 1;
  height: calc(3vw + 5px);
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: 3vw;
}
.searchBar input {
  margin-right: 1vw;
  height: 3vw;
  font-size: calc(2vw + 2px);
  border-radius: 9px;
  border: none;
  font-family: "M PLUS Code Latin", sans-serif;
  font-weight: bold;
}

.searchBar button {
  font-size: calc(2vw + 2px);
  height: 3vw;
  border-radius: 9px;
  background-color: #97c1eb;
  color: white;
  border: none;
  font-family: "M PLUS Code Latin", sans-serif;
  font-weight: bold;
}
.searchBar button:hover {
  background-color: rgb(56, 93, 141);
}

main {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: blue; */
  overflow: hidden;
}

.rank {
  display: flex;
  flex-direction: column;
  font-size: calc(1vw + 20px);
  font-weight: bold;
  color: white;
  align-items: center;
  font-family: "M PLUS Code Latin", sans-serif;
  font-weight: bold;
}

.topSide {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.topSideWords {
  display: flex;
  flex-direction: column;
  flex: 3;
  text-shadow: 3px 3px #252222;
}

.name {
  margin: 0;
  flex: 1;
}
.level {
  margin: 0;

  flex: 1;
}
.points {
  margin: 0;
  flex: 1;
}

.rankImage {
  flex: 1;
  padding-left: 10%;
  width: calc(10vw + 3px);
  height: calc(10vw + 3px);
}

.bottomSide {
  display: flex;
  flex-direction: row;
  flex: 1;
  /* background-color: red; */
  margin-top: 2vw;
}

.progress {
  /* background-color: yellow; */
  flex: 1;
}

.bottomSideWords {
  flex: 3;
  text-shadow: 3px 3px #252222;
  margin-left: calc(2vw + 10px);
}

.noRank {
  margin-top: calc(2vw + 10px);
  text-shadow: 3px 3px #252222;
}

.wrongName {
  margin-top: calc(2vw + 10px);
  margin-left: calc(3vw + 10px);
  text-shadow: 3px 3px #252222;
}

.testCase {
  font-family: "M PLUS Code Latin", sans-serif;
  font-size: calc(1vw + 1px);
  color: white;
  text-shadow: 5px 5px #252222;
  font-weight: bold;
  flex: 1;
}
